@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: georgia;
    background: url('../pics/bg-body.png') #fff;
}
